/* Globlal Styles */
*{
    margin: 0%;
}
body {
background-color: #3127f0;

}

img{
    display: block;
    margin: 0% auto;
    width: 100%;
}

a{
    color: #0f073d;
}

a :hover{
    color: rgb(25, 8, 8);
    text-decoration: none;
}

#Gallery {
    display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;
}
#Gallery img {
    width: 150px;
    display: block;
}

#Gallery p {
    text-align: center;
    margin-top: 5px;
    color: rgb(0, 0, 0);
}

h1 {
    border: 10px solid #908ce5;
    border-radius: 10px;
}

h2{
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  border: 2px solid #8976f3;
  border-radius: 10px;
}

hr {
    color: #8976f3;
}

h3{
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  border: 2px solid #8976f3;
  border-radius: 10px;
}
body{
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  border: 2px solid #8976f3;
  border-radius: 10px;
}

main {
    border: 2px solid #8976f3;
  border-radius: 10px;
}

nav li a{
    text-align: center;
    display: block;
    width: 150px;
    height: auto;
    border: 10px solid #5453a8;
    border-radius: 100%;
}

ul{
    list-style: none;
    padding: 0%;
}

/* Mobile Style */

#Container {
    border: 4px solid #5453a8;
}

button{
    display: block;
    margin: 10px auto;
}

nav ul {
    padding: 0%;
    list-style: none;
    text-align: center;
}

nav li {
    display: block;
    text-align: center;
}

nav li a {
    text-align: center;
    display: block;
    background-color: #8a8bd3;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-size: 25px;
    margin: 10px 0;
}

nav li a:hover {
    background-color: #55748b;
}

main {
    padding: 10px;
    margin: 10px;
}

.main_content {
    padding: 10px;
}

.col {
    margin: 10px 0;
}

.col img {
    border-radius: 10px;
    border: 3px solid #4652f9;
}

footer{
    padding: 40px;
    text-align: center;
}

/* Tablet Style */

@media (min-width: 768px) {
    nav {
        padding: 10px 0;
        border-bottom: 4px solid #3235a3;
    }

    body{
        background-color: #5755f0;
    }
    nav li {
        display: inline;
    }
    nav li a {
        display: inline-block;
        width: 150px;
        height: 40px;
    }

    main {
        margin-top: 10px;
    }

    .col img {
        width: 65%;
    }
}

/* Desktop Styles */
@media (min-width: 1024px) {
    #container {
    width: 65%;
    margin: 20px auto;
    background-color: #2923a7;
}

.gallery {
    display: flex;
}

.col {
    border: 2px solid #293783;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.col img{
    width: 100%;
}
}