/* Globlal Styles */
*{
    margin: 0%;
}
body {
background-color: #79493F;
}

img{
    display: block;
    margin: 0% auto;
    width: 100%;
}

a{
    color: #bb8276;
}

a :hover{
    color: rgb(25, 8, 8);
    text-decoration: none;
}


/* Mobile Style */

#Container {
    border: 4px solid #613a33;
}

nav {
    text-align: center;
}

nav ul {
    padding: 0%;
    list-style: none;
}

nav li {
    display: block;
}

nav li a {
    display: block;
    background-color: #613a33;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-size: 25px;
    margin: 10px 0;
    border-bottom: 4px solid #613a33
}

nav li a:hover {
    background-color: #8b6055;
}

main {
    padding: 10px;
    margin: 10px;
}

.main_content {
    padding: 10px;
}

.col {
    margin: 10px 0;
}

.col img {
    border-radius: 10px;
    border: 3px solid #bb8276;
}

footer{
    padding: 40px;
    text-align: center;
}

/* Tablet Style */

@media (min-width: 768px) {
    nav {
        padding: 10px 0;
        border-bottom: 4px solid #8b6055;
    }


    body{
        background-color: #8b6055;
    }
    nav li {
        display: inline;
    }
    nav li a {
        display: inline-block;
        width: 150px;
        height: 40px;
    }

    main {
        margin-top: 10px;
    }

    .col img {
        width: 65%;
    }
}

/* Desktop Styles */
@media (min-width: 1024px) {
    #container {
    width: 65%;
    margin: 20px auto;
    background-color: #79493F;
}

.gallery {
    display: flex;
}

.col {
    border: 2px solid #8b6055;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.col img{
    width: 100%;
}
}